.footer {
  position: sticky;
  bottom: 0;
  background-color: var(--clr-primary-light);
  width: 100%;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-icon-home {
  mask: url(/assets/home-icon.svg);
}

.nav-icon-bookmark {
  mask: url(/assets/bookmark-icon.svg);
}

.nav-icon-profile {
  mask: url(/assets/user-icon.svg);
}

.nav-icon {
  width: 3.5rem;
  aspect-ratio: 1;
  background: black;
  mask-size: cover;
  margin-block: 1rem;
}

.nav-icon:hover,
.bookmark:hover {
  background: var(--clr-accent-light);
  cursor: pointer;
}
