@import url(/css/general.css);
@import url(/css/question-card.css);
@import url(/css/user-profile.css);
@import url(/css/footer.css);
@import url(/css/utility.css);

.title {
  position: relative;
  font-size: 3rem;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 5rem;
  height: 2.5rem;
  background-color: red;
  filter: blur(1rem);
  z-index: -1;
}
