.profile-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-img {
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.about-counter {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.counter {
  background-color: var(--clr-primary-light);
  border-radius: 5px;
  box-shadow: var(--clr-box-shadow) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 1.5rem;
}

.counter img {
  height: 2rem;
}

.toggle {
  display: none;
}

.toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle + label::before {
  content: "";
  width: 3em;
  height: 1.5em;
  background-color: var(--clr-primary-dark);
  border-radius: 1em;
  margin-right: 1em;
  transition: 100ms ease-in-out;
}
.toggle + label::after {
  position: absolute;
  left: 0.1em;
  content: "";
  width: 1.4em;
  aspect-ratio: 1;
  background-color: var(--clr-primary-light);
  border-radius: 50%;
  transition: 250ms ease-in-out;
}

.toggle:checked + label::after {
  transform: translateX(100%);
  background-color: var(--clr-primary-light);
}
