.current-page {
  fill: var(--clr-accent-light);
}

.bookmarked-active {
  fill: var(--clr-accent-light);
}

.hidden {
  display: none;
}

.hidden-off-screen {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
