.footer-links a {
  position: relative;
}

.current-page > svg {
  fill: var(--clr-accent-light);
}

.current-page:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--clr-accent-light);
  filter: blur(1rem);
  opacity: 0.3;
  translate: -50% -50%;
  z-index: -1;
}

.hidden {
  display: none;
}

.button {
  max-width: fit-content;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  border: none;
  background-color: var(--clr-accent-dark);
  box-shadow: var(--clr-box-shadow) 1.95px 1.95px 2.6px;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
  }
}
