.current-page {
  position: relative;
  fill: var(--clr-accent-light);
}

.current-page::after {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 5rem;
  height: 2.5rem;
  background-color: red;
  filter: blur(1rem);
  z-index: -100;
}

.hidden {
  display: none;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
  }
}
