:root {
  --clr-primary-600: #0e7153;
  --clr-primary-500: #1f8d6c;
  --clr-primary-400: #389c7e;
  --clr-primary-300: #59b599;
  --clr-primary-200: #8cd4be;

  --clr-accent-500: #9e1432;
  --clr-accent-500: #c62b4c;
  --clr-accent-400: #db4e6c;
  --clr-accent-300: #ef7690;
  --clr-accent-200: #f6a2b4;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--clr-primary-400);
  display: grid;
  place-items: center;
  color: black;
}

main {
  padding: 2rem;
}

.hidden {
  display: none;
}

.question-container {
  background-color: var(--clr-primary-300);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.question {
  text-align: center;
}

.answer-button {
  max-width: 50%;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  border: none;
  background-color: var(--clr-accent-400);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tags {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  align-self: start;
  margin-top: 3rem;
  margin-bottom: 0;
  padding-left: 0;
}

.tag {
  border: 1px solid black;
  padding: 0.5rem;
  background-color: var(--clr-primary-600);
  border-radius: 5px;
}

.bookmark {
  position: absolute;
  top: -5px;
  right: 20px;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.footer-links img {
  height: 3rem;
  padding: 2rem;
}
