:root {
  --clr-primary-600: #005a5e;
  --clr-primary-500: #017277;
  --clr-primary-400: #017277;
  --clr-primary-300: #259ba0;
  --clr-primary-200: #47aeb3;

  --clr-accent-500: #9b0400;
  --clr-accent-500: #c50500;
  --clr-accent-400: #ff0700;
  --clr-accent-300: #ff3e39;
  --clr-accent-200: #ff6763;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--clr-primary-400);
  display: grid;
  place-items: center;
  color: black;
}

main {
  padding: 2rem;
}

.hidden {
  display: none;
}

.question-container {
  border: 1px solid black;
  background-color: var(--clr-primary-300);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  text-align: center;
}

.answer-button {
  max-width: 50%;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  border: none;
  background-color: var(--clr-accent-200);
  color: white;
}

.tags {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  align-self: start;
  margin-top: 3rem;
  margin-bottom: 0;
  padding-left: 0;
}

.tag {
  border: 1px solid black;
  padding: 0.5rem;
  background-color: var(--clr-primary-600);
  border-radius: 5px;
}

.bookmark {
  position: absolute;
  top: -5px;
  right: 20px;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.footer-links img {
  height: 3rem;
  padding: 2rem;
}
