:root {
  --clr-primary-600: rgba(0, 0, 0, 1);
  --clr-primary-500: rgba(3, 2, 2, 1);
  --clr-primary-400: rgba(64, 64, 64, 1);
  --clr-primary-300: rgba(117, 117, 117, 0.8);
  --clr-primary-200: rgba(166, 165, 165, 1);

  --clr-accent-600: rgba(163, 159, 22, 1);
  --clr-accent-500: rgba(122, 119, 0, 1);
  --clr-accent-400: rgba(202, 198, 45, 1);
  --clr-accent-300: rgba(223, 219, 84, 1);
  --clr-accent-200: rgba(255, 252, 136, 1);
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--clr-primary-200);
  display: grid;
  place-items: center;
  color: black;
  position: relative;
}

main {
  padding: 2rem;
}

.title {
  font-size: 3rem;
}

.hidden {
  display: none;
}

.question-container {
  background-color: var(--clr-primary-300);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.question {
  text-align: center;
}

.answer-button {
  max-width: fit-content;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  border: none;
  background-color: var(--clr-accent-300);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.answer-button:hover,
.answer-button:focus,
.answer-button:active {
  background-color: var(--clr-accent-200);
  cursor: pointer;
}

.tags {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  align-self: start;
  margin-top: 3rem;
  margin-bottom: 0;
  padding-left: 0;
}

.tag {
  border: 1px solid black;
  padding: 0.5rem;
  background-color: var(--clr-primary-300);
  border-radius: 5px;
}

.bookmark {
  position: absolute;
  top: -5px;
  right: 20px;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  /* position: fixed;
  bottom: 0;
  left: 0;
  top: calc(100vh - 6rem);
  height: 3rem; */
}

.footer-links img {
  height: 3rem;
  padding: 2rem;
}
